@charset "utf-8";
@font-face{
   font-family: champagne;
   src: url(cac_champagne.woff)
}

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: Selim Ozdogan
   Date:   15 Jan 2021
   
   Filename: ph_styles.css

*/


/* Structural Styles */




/* Navigation Styles */




/* Section Styles */




/* Description List Styles */

